GitPython==3.1.43
Jinja2==3.1.4
Keras-Preprocessing==1.1.2
Markdown==3.6
MarkupSafe==2.1.5
PyOpenGL==3.1.7
PyQt5-sip==12.12.2
PyQt5==5.15.9
PyYAML==6.0.1
Pygments==2.18.0
Werkzeug==3.0.3
absl-py==2.1.0
aiohttp-cors==0.7.0
aiohttp==3.9.5
aiosignal==1.3.1
ale-py==0.8.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
array_record==0.5.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
av==12.2.0
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
chex==0.1.86
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
colorful==0.5.6
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
dataclasses==0.6
debugpy==1.8.2
decorator==5.1.1
distlib==0.3.8
dm-acme==0.2.2
dm-env==1.6
dm-reverb==0.7.0
dm-sonnet==2.0.2
dm-tree==0.1.8
dm_control==1.0.20
docker-pycreds==0.4.0
docstring_parser==0.16
etils==1.7.0
exceptiongroup==1.2.2
executing==2.0.1
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.53.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.6.0
gitdb==4.0.11
glfw==2.7.0
google-api-core==2.19.1
google-auth-oauthlib==0.4.6
google-auth==2.32.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
grpcio==1.65.1
gym-notices==0.0.8
gym==0.26.2
h5py==3.11.0
hydra-core==1.3.2
idna==3.7
imageio-ffmpeg==0.5.1
imageio==2.34.2
immutabledict==4.2.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
jmp==0.0.4
jsonschema-specifications==2023.12.1
jsonschema==4.23.0
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==2.8.0
kiwisolver==1.4.5
labmaze==1.0.6
lazy_loader==0.4
libclang==18.1.1
linkify-it-py==2.0.3
llvmlite==0.43.0
lxml==5.2.2
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
matplotlib==3.9.1
mdit-py-plugins==0.4.1
mdurl==0.1.2
mediapy==1.2.2
memray==1.13.4
mizani==0.11.4
ml-dtypes==0.4.0
msgpack==1.0.8
mujoco==3.2.0
multidict==6.0.5
munkres==1.1.4
nest_asyncio==1.6.0
networkx==3.3
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
opencensus-context==0.1.3
opencensus==0.11.4
opt-einsum==3.3.0
optax==0.2.3
orbax-checkpoint==0.5.22
packaging==24.1
pandas==2.2.2
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pickle5==0.0.11
pickleshare==0.7.5
pillow==10.4.0
pip==24.0
platformdirs==4.2.2
plotnine==0.13.6
pluggy==1.5.0
ply==3.11
portpicker==1.6.0
prometheus_client==0.20.0
promise==2.3
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==3.20.3
psutil==6.0.0
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-spy==0.3.14
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.8.2
pydantic_core==2.20.1
pyparsing==3.1.2
pytest==8.3.1
python-dateutil==2.9.0
pytz==2024.1
pyzmq==26.0.3
ray==2.32.0
referencing==0.35.1
requests-oauthlib==2.0.0
requests==2.32.3
rich==13.7.1
rpds-py==0.19.0
rsa==4.9
scikit-image==0.24.0
scipy==1.14.0
sentry-sdk==2.10.0
setproctitle==1.2.2
setproctitle==1.3.3
setuptools==71.0.4
simple_parsing==0.1.5
sip==6.7.12
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
stack-data==0.6.2
statsmodels==0.14.2
tabulate==0.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.8.0
tensorflow-datasets==4.9.6
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.15.0
tensorflow-probability==0.16.0
tensorflow==2.8.0
tensorstore==0.1.63
termcolor==2.4.0
textual==0.73.0
tf-estimator-nightly==2.8.0.dev2021122109
tfp-nightly==0.25.0.dev20240720
tifffile==2024.7.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
trfl==1.2.0
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.3
unicodedata2==15.1.0
urllib3==2.2.2
virtualenv==20.26.3
wandb==0.17.5
wcwidth==0.2.13
wheel==0.43.0
wrapt==1.16.0
yarl==1.9.4
zipp==3.19.2